RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^inicio$ index.html 
RewriteRule ^registro$ register.html 
RewriteRule ^registroBicicleta$ bikeRegister.html
RewriteRule ^login$ login.html
RewriteRule ^zones$ insecureZone.html
RewriteRule ^terminos$ terms.html
RewriteRule ^home$ home.html
RewriteRule ^recoverPass$ recoverPass.html
ErrorDocument 404 /bipo/page/404.html
