<!DOCTYPE html>
<html lang="en" ng-app="bipoApp" id="ng-app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bienvenido a bipo</title>
	
	<!-- core CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/loading.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="css/bootstrap-datetimepicker.min.css" />    
    <link href="css/upload-photo.css" rel="stylesheet">
    <link href="css/loading.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/ico/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>
    <script src="js/bower_components/ngmap/build/scripts/ng-map.js"></script>
    
</head><!--/head-->

<body class="homepage" ng-controller="registerBikeCtrl as $ctrl">
    <script type="text/ng-template" id="modal.html">
        <div class="modal-demo" data-backdrop="static" data-keyboard="false" id="myModal">
            <div class="modal-body" id="modal-body">
               <section class="loaders loaders-bg-3"><span class="loader loader-circles"></span></section>
               <h4 class="loading-text">{{$ctrl.message}}</h4>
            </div>

        </div>
    </script>


    <header data-ng-init="checkLogin()" id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="inicio">
                        <span style="display:inline"><img src="images/logo40x40.png" alt="logo"></span>
                    </a>
                    <h1 class="navbar-text">bipo</h1>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ng-show="!islogged" href="inicio">Inicio</a>
                            <a ng-show="islogged" href="home">Inicio</a>
                        </li>
                        <li ng-show="!islogged" class="active"><a href="registro">Registrate</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="stolenBikes">Bicicletas robadas</a></li>
                                <li><a href="foundBikes">Bicicletas encontradas</a></li>
                                <li><a href="recoveredBikes">Bicicletas recuperadas</a></li>
                            </ul>
                        </li>
                        <li><a href="insecureZones">Zónas seguras</a></li>                       
                        <li><a href="contatct">Contáctanos</a></li>                       
                        <li><a href="https://play.google.com/store">Bipo en Android</a></li>                       
                        <li ng-show="!islogged" class="btn-slide"><a href="login">Iniciar Sesión</a></li>
                        <li ng-show="islogged" class="btn-slide dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{nickname}} <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="myProfile">Mi perfil</a></li>
                                <li ng-click="logout()"><a href="#">cerrar sesión</a></li>
                            </ul>
                        </li>                              
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->
    <section id="feature" >
        <div  class="container">
           <div class="center wow fadeInDown">
                <h2>Ahora debes registrar una bicicleta</h2>
            </div>
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="fmRegisterBike" novalidate>
                    <div class="col-lg-12 col-md-10 col-lg-offset-2 col-sm-offset-2">
                        <div class="col-sm-7 form-group">
                            <label>Nombre de la bicicleta: </label>
                            <input type="text" name="bikeName" class="form-control" placeholder="Ponle un nombre a tu bicicleta" ng-model="bikeRegister.bikeName.data" required>
                            <h5 style="color:#ef473a" ng-show="fmRegisterBike.bikeName.$invalid && !fmRegisterBike.bikeName.$pristine ">Debes ingresar el nombre de la bicicleta</h5>
                            <h5 style="color:#ef473a" ng-show="!errors.bikeName.valid">{{errors.bikeName.error}}</h5>
                        </div>
                        <div class="col-sm-7 form-group">
                            <label>Marca de la bicicleta: </label>
                            <select class="form-control" placeholder="Marca de la bicicleta" ng-options="brand as brand.brand for brand in brands track by brand.id" ng-model="bikeRegister.brand.data">
                            </select>
                            <h5 style="color:#ef473a" ng-show="!errors.bikeBrand.valid">{{errors.bikeBrand.error}}</h5>
                        </div>
                        <div class="col-sm-7 form-group">
                            <label>Color de la bicicleta: </label>
                            <select class="form-control" placeholder="Color de la bicicleta" ng-options="color as color.color for color in colors track by color.id" ng-model="bikeRegister.color.data">
                            </select>
                            <h5 style="color:#ef473a" ng-show="!errors.bikeColor.valid">{{errors.bikeColor.error}}</h5>
                        </div>
                        <div class="col-sm-7 form-group">
                            <label>Tipo de bicicleta: </label>
                            <select class="form-control" placeholder="Tipo de bicicleta" ng-options="bikeType as bikeType.type for bikeType in bikeTypes track by bikeType.id" ng-model="bikeRegister.bikeType.data">
                            </select>
                            <h5 style="color:#ef473a" ng-show="!errors.bikeType.valid">{{errors.bikeType.error}}</h5>
                        </div>
                        <div class="col-sm-7 form-group">
                            <label>Id del Marco:</label>
                            <input type="text" name="frame" class="form-control" placeholder="Escribe el Id del marco de tu bicicleta" ng-model="bikeRegister.idFrame.data" required>
                            <h5 style="color:#ef473a" ng-show="fmRegisterBike.frame.$invalid && !fmRegisterBike.frame.$pristine">Debes ingresar el marco de la bicicleta</h5>
                            <h5 style="color:#ef473a" ng-show="!errors.frame.valid">{{errors.frame.error}}</h5>
                        </div>
                        <div class="col-sm-7 form-group">
                            <label>Caracteristicas de la bicicleta:</label>
                            <textarea class="form-control" placeholder="Escribe las caracteristicas de tu bicicleta" ng-model="bikeRegister.bikeFeatures.data" rows="5"></textarea>
                            <h5 style="color:#ef473a" ng-show="!errors.documento.valid">{{errors.document.error}}</h5>
                        </div>
                        <div class="panel panel-default col-sm-7 ">
                            <div class="panel-heading">Agrega fotos de tu bicicleta</div>
                            <div class="panel-body">
                                <div class="panel panel-info ">
                                    <div class="panel-body">
                                        <div class="file-upload-content" ng-repeat="image in images">
                                            <div class="col-sm-8 col-md-6">
                                                <img  width="200 px" height="150 px" ng-src="{{image}}" />
                                                <div class="image-title-wrap">
                                                <!--  <button type="button" ng-click="removeImage(image)" class="remove-image">Quitar foto</button>-->
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="file-upload col-sm-8 col-md-5">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Subir foto</button>
                                            <input class="file-upload-input" id="img1" type='file' ng-file-select="onFileSelect($files)" accept="image/*" />
                                    </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-7 form-group">
                            <button type="button" class="btn btn-primary btn-lg" ng-click="registerBike(fmRegisterBike.$valid)">Registrar</button>
                        </div>
                        <div class="col-sm-7 form-group" style="width: 100%; height: 25px;">
                            <h5 style="color:#ef473a" ng-show="error.errorState">{{error.message}}</h5>
                        </div> 
                    </div>
                </form> 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#feature-->
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2017. Todos los derechos reservados.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="inicio">Inicio</a></li>
                        <li><a href="contact-us.html">Contáctanos</a></li>
                        <li><a href="terminos">Términos y condiciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- Modal -->

        
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script> 
    <script src="js/locales/bootstrap-datetimepicker.es.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>

    <script type="text/javascript">
        $('.form_date').datetimepicker({
            language:  'es',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    
    </script> 

</body>
</html>